<footer>
  <div id="foot">
    <div>
      <h3>Description</h3>
      <p>
        All materials (books, notes, and papers) are posted for educational
        purposes only. We do not claim ownership.
      </p>
    </div>
    <div>
      <h3>Links</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="KV.html">Knowledge Vault</a></li>
        <!-- <li><a href="#">Exam Archive</a></li> -->
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div>
      <h3>Support</h3>
      <p><a href="contact.html">Contact Us</a></p>
    </div>
    <div>
      <h3>Contact</h3>
      <p>
        <a href="mailto:collegemadeeasy.du@gmail.com"
          >📧 collegemadeeasy.du@gmail.com</a
        >
      </p>
    </div>
  </div>
  <div id="last">
    <p>&copy; 2025 collegemadeeasy &#9475; All Rights Reserved</p>
  </div>
</footer>
